.h2c {
    margin: 5px 10px
}
h2.h2c {
    font-size: 20px
}
.d12c {
    padding: 5px;
    border: 1px solid #333;
    border-bottom: 0px
}
.d12c:last-child {
    border-bottom: 1px solid #333;
}
.navbar-fixed-top {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
